In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pandas_datareader as data
import yfinance as yf

In [5]:
start = '2015-10-20'
end = '2018-10-20'
df = yf.download('AAPL',start, end)
df.head()

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close     Volume
Date
2015-10-20  27.834999  28.542500  27.705000  28.442499  25.852318  195871200
2015-10-21  28.500000  28.895000  28.424999  28.440001  25.850050  167180800
2015-10-22  28.582500  28.875000  28.525000  28.875000  26.245432  166616400
2015-10-23  29.174999  29.807501  29.082500  29.770000  27.058929  237467600
2015-10-26  29.520000  29.532499  28.730000  28.820000  26.195446  265335200